@import "../base/settings";
.styled-list {
  color: $gray;
  line-height: 40px;
  position: relative;
  padding-bottom: 16px;
  > li {
    border-left: solid 2px $lightgGray;
    padding: 0 0 27px 20px;
    display: flex;
    line-height: 13px;
    &:first-child {
      padding: 0 0 60px 19px;
    }
    &:last-child {
      border: 0;
      margin-left: 2px;
    }
    &:first-of-type:before {
      border: 0;
      background: $lightOrange;
      width: 50px;
      height: 50px;
      left: 4px;
    }
    &:before {
      border-color: $lightOrange !important;
      content: "";
      border: solid 2px;
      width: 8px;
      height: 8px;
      border-radius: 50px;
      margin-left: -27px;
      background: $white;
      margin-right: 15px;
      position: absolute;
    }
    h3 {
      color: $black;
    }
    svg {
      width: 50px;
      height: 100%;
      color: $black;
      padding: 10px;
      position: relative;
      left: -44px;
    }
  }
}
