@import "../../../styles/base/settings";
.resume {
  .styled-list {
    margin: 2rem 0 0 1.5rem;
    li:first-child {
      flex-direction: row;
      align-items: center;
      h3 {
        color: $black;
        font-size: 1.5rem;
      }
    }
    li {
      flex-direction: column;
      line-height: 25px;
      span {
        color: $black;
        font-size: 0.9rem;
        display: block;
        margin-bottom: 1rem;
      }
    }
  }
}
