@import "../../styles/base/settings";
aside {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $box-shadow;
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    .styled-list {
      top: -30px;
      font-size: 14px;
      h3 {
        font-weight: 400;
        margin-right: 5px;
      }
    }
    .profile-name {
      padding: 12px;
      align-self: start;
      .name {
        font-weight: bold;
        text-transform: uppercase;
      }
      .job {
        color: $gray;
      }
    }
    figure {
      clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .downloadCv {
      margin-bottom: 2rem;
    }
  }
}
