@import "../../styles/base/settings";
.skill-box-wrapper .trails-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .skill-wrap {
    margin: 0.5rem;
    @media (max-width: 767px) {
      max-width: 100px;
    }
    .card {
      transition: all 0.5s ease;
      border-radius: 30px;
      padding: 1rem;
      border-top: none;
      background: $lightgGray;
      &:hover {
        box-shadow: $box-shadow;
        transform: perspective(75em) rotateX(18deg);
        transform-origin: top center;
      }
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
    }
    .info h3 {
      text-align: center;
      margin: 0.5rem 0;
      font-size: 14px;
    }
  }
}
